*{
	margin: 0;
	padding: 0;
}
.App{
	width: 960px;
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}
.App button{
	width: 100px;
	height:50px;
}
.App input{
	width:850px;
	height:50px;
	font-size: 30px;
	vertical-align: middle;
	padding-left:10px;
	box-sizing: border-box;
}
.App li{
	font-size: 25px;
	color:red;
	margin-top:30px;
	list-style: none;
	margin-bottom: 10px;
	border-bottom:1px dashed #ccc ;
}
.App li:hover{
	background-color: #caf;
	cursor: pointer;
}